<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.controleestoque" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Controle de Estoque"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ControleEstoque" >

        <activity
            android:name=".SplashActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ActivityCadastro"
            android:label="Cadastro de Produtos"
            android:parentActivityName=".ActivityMain"
            />

        <activity
            android:name=".ActivityMain"
            android:exported="true"
            android:label="Lista de Produtos"
            android:launchMode="singleTop" />
    </application>

</manifest>